.root {
  min-width: 150px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  z-index: 99;
  font-size: 12px !important;
  //border: 1px solid black;
}