.root {
  min-width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  font-size: 12px !important;

  //background-color: yellow;
  //border: 1px solid black;
}