.root {
  display: block;
}

.verticalTimeline {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50px;
}

.timelineItem {
  display: flex;
  width: 100%;
  max-width: 50px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 120px; /* Высота строки в таймлайне */
}

.timelineLabel {
  font-size: 12px;
  //margin-right: 10px;
}

.timelineLine {
  height: 100%;
  width: 1.5px;
  background-color: #000;
}